# fly.toml app configuration file generated for pw-icy-haze-6467 on 2026-02-03T13:54:14Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'peebles-wargaming'
primary_region = 'lhr'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
